/* @import "tailwindcss/components";
@import "tailwindcss/components";
@import "tailwindcss/utilities"; */
@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  --primary: rgb(0, 255, 0);
  --background: rgb(0, 0, 0);
  --text: rgb(0, 255, 0);
}
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-x: hidden; /* Prevents horizontal scrolling issues */
}
